
body { /* generic site-wide background settings */
    background-color: #333;
}


.tag:not(body) {
    margin-top: 1pt;
    margin-bottom: 3pt;
    margin-right: 1pt;
    margin-left: 1pt;
    box-shadow: 3px 2px #EFD469;
    white-space: normal !important;
    height: unset; !important;
    min-height: 2em;
}


/* navbar stuff */

.topbar {
    background-color: #222!important;
}
.navbar ul, li {
    list-style-type: none;
 }
.navbar_left {
    text-align: left;
}
.navbar_center {
    text-align: center;
}
.navbar_right {
    text-align: right;
}
input[name=q] {
    width: 100%; !important;
}

/* end navbar */
/* /wall/ styles */
.sidebar {
    margin-right: 1em;
    overflow-y: auto;
    max-height: 86vh;
}
.sidebar ul, li {
	list-style-type: none;
	display: inline-block;
}
.large-img {
	/* display: grid; */
        /* grid-column: 2/6; */
        object-fit: contain;
        width: 100%;
        display: flex;
        align-items:flex-start;
        /*justify-self: start; */
}
.centered {
    text-align: center;
}

.thumbnail {
    border: 0px 0px 0px 0px;
    padding: 1em;
    margin: 0px 0px 0px 0px;
}
