<!doctype html>
<html>
  <head>
    <title>I'm a web developer! :D</title>
    <script>
      document.onkeydown = checkKey;
      function checkKey(e)
      {
        e = e || window.event;
        page = {{page}}
        if (e.keyCode == '37')
        { // left arrow
            window.location="/browse/" + (page - 1) 
        }
        else if (e.keyCode == '39')
        { // right arrow
            window.location="/browse/" + (page + 1)  // implicit casting is a sin :/
        }
      }
      imgs = {{imgs|safe}}
    </script>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <br />
    <div class='centered'>
      <div class='pg-num'>
        {% if page > 0 %}
          <a href="/browse/{{page-1}}">&lt; Previous</a>
        {% endif %}
        Page {{page}} / {{max_page}}
        {% if page < max_page %}
          <a href="/browse/{{page+1}}">Next &gt;</a>
        {% endif %}
      </div>
      <script>
        for(var i = 0; i < imgs.length; i++){
          document.write("<a href='/wall/" + imgs[i] + "'>" +
                         "<img src='/img/th-" + imgs[i] + "'></a>"
          );
        }
      </script>
    </div>
  </body>
</html>
