<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I'm a web developer! :D</title>
    <script>
      tags = {{tags|safe}}
    </script>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <script src='/script.js'></script>
    <script>
      tagcloud(tags, document.body);
    </script>
</div>
</body>
</html>
