<ul class="navbar grid-box">
  <li class="navbar_left">
    <a href="/browse/0" class="tag">Browse</a>
    <a href="/" class="tag">Tags</a>
    <a href="/404" class="tag">Random</a>
  </li>
  <li class="navbar_center">
    <form action="/search">
      <input type="text" name="q" class="searchbox" value={{q}}>
      <input type="submit" class="search_button" value="Search">
    </form>
  </li>
  <li class="navbar_right">
    <a class="tag">Register</a>
    <a class="tag">Login</a>
  </li>
</ul>
<hr />
