
<div class="columns box topbar">

  <div class="column level-left">
    <a href="/browse/0" class="button">Browse</a>
    <a href="/" class="button">Tags</a>
    <a href="/404" class="button">Random</a>
  </div>
  <div class="column centered">
    <form action="/search">
      <input type="text" name="q" type="text" class="input is-medium is-info"
             value="{{q}}">
    </form>
  </div>
  <div class="column narrow">
    <div class="navbar_right">
      <a class="button">Register</a>
      <a class="button">Login</a>
    </div>
  </div>
</div>
