
<div class="columns box topbar">

  <div class="column level-left">
    <a href="/browse/0" class="button">Browse</a>
    <!-- <a href="/" class="button">Tags</a> -->
    <a href="/random" class="button">Random</a>
  </div>
  <div class="column centered">
    <div class="field">

      <form action="/search">
        <div class="control has-icons-left">
          <input type="text" name="q" type="text" class="input is-medium is-info has-icons"
                 value="{{q}}" placeholder="Search">
          <span class="icon is-left"><i class="fas fa-search is-medium"></i></span>
        </div>
      </form>

    </div>
  </div>
  <div class="column narrow">
    <div class="navbar_right">
      <a class="button">Register</a>
      <a class="button">Login</a>
    </div>
  </div>
</div>
