<!doctype html>
<html>
  <head>
    <title>I'm a web developer! :D</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class='centered'>
      <script>
        tags = {{tags|safe}}
        for(var i = 0; i < tags.length; i++) {
            document.write("<a href='/search?q=" + tags[i] + "'>" + tags[i] + "</a>");
        }
        </script>

      <!-- <div style="background-image:url('/img/{{img}}')" class='full-pg-img'> -->
      <img src='/img/{{img}}' class='full-pg-img'>
    </div>
  </body>
</html>
