<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
    <title>I'm a web developer! :D</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="columns">
        <ul class="sidebar column is-one-fifth">
          <script>
            tags = {{tags|safe}}
            tagcloud(tags, document.getElementsByClassName('sidebar')[0]);
          </script>
        </ul>
        <div class="column is-four-fifths box">
          <img src="/img/{{img}}">
        </div>
      </div>
    </div>
</div>
</body>
</html>
